.btn-register-container,.register-form{
    height: 100vh;
}

.all-btn button{
    padding: 10px 50px;
    width: 100%;
    max-width: 200px;
}
.fb-btn button{
    background-color: #48629b;
    color: #fff;
    border: none;
}
.google-btn button{
    background-color: #dc4b38;
    color: #fff;
    border: none;
}
.linkedin-btn button{
    background-color: #0e76a8;
    color: #fff;
    border: none;
}
.submit-btn{
    background-color: #dc4b38;
    color: #fff;
    width: 120px;
    padding: 10px 18px;
    font-weight: 700;
}
.btn:hover{
    color: #fff;
}

/* responsive for mobile */

@media only screen and (max-width:687px) {
    .btn-register-container,.register-form{
        height: 32vh;
    }
}
/* responsive for ipad */

@media only screen and (min-width:688px) and (max-width:992px) {
    .btn-register-container,.register-form{
        height: 20vh;
    }
}
